.*
!.gitignore
*pcap
*xml
*tr
AUTHORS
bindings/
build/
CHANGES.html
doc
examples/
LICENSE
Makefile
README
RELEASE_NOTES
test.py
testpy.supp
utils
utils.py
utils.pyc
VERSION
waf
waf.bat
waf-tools
wutils.py
wutils.pyc
